.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

table {
  width: 100%;
}